.footer {
    background: $primary-color;;
    padding: 40px 0;
    text-align: center;

    .footer-text {
        color: rgba($color-texto, 0.8);
        font-size: 14px;
        margin-bottom: 15px;
    }

    .footer-links {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
            display: inline-block;

            a {
                color: rgba($color-texto, 0.7);
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $color-hover;
                }
            }
        }
    }

    .footer-social {
        margin-top: 15px;

        a {
            color: rgba($color-texto, 0.6);
            font-size: 20px;
            margin: 0 10px;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-secundario;
                transform: scale(1.1);
            }
        }
    }
}