// _footer.scss
@use"variables";

footer {
  background-color: $color-primario;
  color: white;
  text-align: center;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $color-hover;
    }
  }
}
