// 🎨 Paleta de colores
$primary-color: #D63384; // Color principal (rosado elegante)
$secondary-color: #FF8FA3; // Tonos más suaves
$background-light: #F8F9FA; // Fondo claro
$background-dark: #FDEDEC; // Fondo rosado pastel



// ✍ Tipografía
$font-title: 'Playfair Display', serif;
$font-text: 'Lato', sans-serif;

// Variables de colores footer
$color-fondo: #141414;
$color-texto: #ffffff;
$color-secundario: #e63946;
$color-hover: #f76c6c;
