// _variables.scss
$color-primario: #D72638; // Rojo frutilla
$color-secundario: #3A6351; // Verde hoja
$color-fondo: #FFF3E1; // Beige claro de la pulpa
$color-texto: #301B28; // Marrón oscuro
$color-hover: #B22222; // Rojo más oscuro
$fuente-principal: 'Arial', sans-serif;
// scss/_variables.scss
$color-primario: #ff4d4d;
$color-secundario: #ffbd69;
